
<div>
    <form  [formGroup]="formDoc"  (ngSubmit)="saveDoc()">
   <div *ngIf="[state]==1"><br><br>
   ADDRESS-PROOF   &nbsp;&nbsp;<input type="file" (change)="onselectaddressProof($event)"><br><br>
   <img [src]="imageSrc1" height="100" width="100"><br><br>
      
   PANCARD   &nbsp;&nbsp;<input type="file" (change)="onselectpancard($event)"><br><br>
   <img [src]="imageSrc2" height="100" width="100"><br><br>


    AADHARCARD   &nbsp;&nbsp;<input type="file" (change)="onselectaadharcard($event)"><br><br>
      <img [src]="imageSrc3"height="100" width="100"><br><br>
    
      SIGNATURE &nbsp;&nbsp;<input type="file" (change)="onselectsignature($event)"><br><br>

      <img [src]="imageSrc4" height="100" width="100"><br><br>
      
      <button5 class="button button5"(click)="onnext()">NEXT</button5>

    </div>
    
    <div *ngIf="[state]==2">
      PHOTO   &nbsp;&nbsp;<input type="file" (change)="onselectphoto($event)"><br><br>

      <img [src]="imageSrc5" height="100" width="100"><br><br>
      INCOMETAX &nbsp;&nbsp;<input type="file" (change)="onselectincometax($event)"><br><br>
      <img [src]="imageSrc6" height="100" width="100"><br><br>
       
      SALARY-SLIP &nbsp;&nbsp;<input type="file" (change)="onselectsalaryslip($event)"><br><br>
      <img [src]="imageSrc7" height="100" width="100"><br><br>
      
      BANKCHECK &nbsp;&nbsp;<input type="file" (change)="onselectbankcheck($event)"><br><br>
      <img [src]="imageSrc8"height="100" width="100"><br><br>

   <!-- <button type="submit" >ADD-DOCUMENTS</button><br><br> -->
   <button class="button button5" type="submit" >ADD-DOCUMENTS</button>
  </div>


    </form>
    