<p>approved-list works!</p>

<table class="table table-dark">
    <thead>
        
        <th> Id </th>
        <th> Photo </th>
        <th> Name </th>
        <th> age </th>
        <th> gender</th>
        <th> email</th>
        <!-- <th> customer_dob </th>
        <th>  customer_address </th> -->
        <th>   mobno </th>
        <th>   Action </th>
        <th>   Action </th>
        <!-- <th>   Action </th> -->
    </thead>

    <tbody *ngIf=retriveDoc>
    <tr *ngFor="let c of retriveDoc">
       
    <td>{{c.customerid}}</td>
    <td><img [src]="'data:image/jpeg;base64,'+c.photo" height="150"></td>
    <td>{{c.customer_name}}</td>
    <td>{{c.customer_age}}</td>
    <td>{{c.customer_gender}}</td>
    <td>{{c.customer_email}}</td>
    <!-- <td>{{c.customer_dob}}</td>
    <td>{{c.customer_address}}</td> -->
    <td>{{c.customer_mobno}}</td>
        <!-- <td><button type="button" class="btn btn-info" (click)="getCibil()">CibilScore</button>
        </td> -->
        <td><button type="button" class="btn btn-success">Approved </button>
        </td>
        <td><button type="button" class="btn btn-danger">Rejected</button>
        </td>
    
  </tr>
</tbody>

</table>