<div class="container">
    <div class="row">
    
    <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter name" [(ngModel)]="cs.app.applicant_name">
      </div>
      <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter Occupation" [(ngModel)]="cs.app.applicant_occupation">
      </div>
    
    </div>
    
    <div class="form-group">
        <input  type="text"  class="form-control"  placeholder="Enter pancard Number" [(ngModel)]="cs.app.applicant_pancard">
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter Email " [(ngModel)]="cs.app.applicant_email">
    </div>
    
  
    
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter cibilScore" [(ngModel)]="cs.app.cibil.cibilScore">
    </div>

    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter cibilScoreDateTime" [(ngModel)]="cs.app.cibil.cibilScoreDateTime">
    </div>


      <div class="form-group"> 
          <button class="btn btn-success btn-lg btn-block" (click)="saveApplicant(cs.app)">Submit</button>
      </div>
    
      <div class="form-group"> 
          <button class="btn btn-warning btn-lg btn-block" (click)="resetData()">reset</button>
      </div>
    </div>